<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Reflective Regression Repository</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name=”description” content=”Reflective regression repository ruby on rails python tensorflow programming javascript”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href="https://fonts.googleapis.com/css?family=Lobster|Tangerine|Monospace" rel="stylesheet" type="text/css">
    

  </head>
  
  
  <body>    
    <%= render 'shared/header' %>    
    <%= yield %>

    <%= render 'shared/footer' %>
    <%= render 'shared/alerts' %>
  </body>
</html>
