<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Reflective Regression Repository</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Lobster|Tangerine|Monospace" rel="stylesheet" type="text/css">

  </head>
  
  
  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/alerts' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
